<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav sec:authorize="isAnonymous()">
        <strong>Hello World!</strong> <a th:href="@{/login}">Login</a> <a th:href="@{/register}">Register</a>
    </nav>

    <nav sec:authorize="isAuthenticated()">
        <strong th:text="${usuario}"></strong> <a th:href="@{/logout}">Logout</a>
    </nav>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>
